<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cordys.crm.system.mapper.ExtBugReportMapper">

    <select id="list" parameterType="cn.cordys.crm.system.dto.request.BugReportListRequest"
            resultType="cn.cordys.crm.system.dto.response.BugReportResponse">
        SELECT
            t.id,
            t.user_id,
            t.user_name,
            t.route,
            t.description,
            t.trace_id,
            t.status,
            t.create_time
        FROM
            sys_bug_report t
        <where>
            <if test="orgId != null and orgId != ''">
                t.organization_id = #{orgId}
            </if>
            <if test="request.status != null and request.status != ''">
                AND t.status = #{request.status}
            </if>
            <if test="request.startTime != null and request.endTime != null">
                AND t.create_time BETWEEN #{request.startTime} AND #{request.endTime}
            </if>
            <if test='request.keyword != null and request.keyword != ""'>
                AND (t.description LIKE CONCAT('%', #{request.keyword},'%')
                    OR t.user_name LIKE CONCAT('%', #{request.keyword},'%'))
            </if>
        </where>
        <include refid="cn.cordys.common.mapper.CommonMapper.sort">
                <property name="sort" value="request.sort"/>
                <property name="prefix" value="t"/>
                <property name="defaultSort" value="create_time desc"/>
            </include>
    </select>

</mapper>
