<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cordys.crm.system.mapper.ExtRegisterApplicationMapper">

    <select id="countByIdCardHashInUser" resultType="java.lang.Integer">
        select count(id)
        from sys_user
        where id_card_hash = #{idCardHash}
    </select>

    <select id="countByIdCardHashInApplication" resultType="java.lang.Integer">
        select count(id)
        from sys_register_application
        where id_card_hash = #{idCardHash}
    </select>

    <select id="countByCreditCodeInOrganization" resultType="java.lang.Integer">
        select count(id)
        from sys_organization
        where unified_social_credit_code = #{creditCode}
    </select>

    <select id="countByCreditCodeInApplication" resultType="java.lang.Integer">
        select count(id)
        from sys_register_application
        where unified_social_credit_code = #{creditCode}
    </select>

    <select id="countByPhoneInApplication" resultType="java.lang.Integer">
        select count(id)
        from sys_register_application
        where phone = #{phone}
    </select>

    <select id="pageList" resultType="cn.cordys.crm.system.domain.RegisterApplication">
        select id,
               type,
               name,
               phone,
               unified_social_credit_code,
               legal_person_name,
               business_license_attachment_id,
               verify_status,
               verify_remark,
               verify_user,
               verify_time,
               create_time,
               update_time,
               create_user,
               update_user
        from sys_register_application
        <where>
            <if test="request.type != null and request.type != ''">
                and type = #{request.type}
            </if>
            <if test="request.verifyStatus != null and request.verifyStatus != ''">
                and verify_status = #{request.verifyStatus}
            </if>
            <if test="request.keyword != null and request.keyword != ''">
                and (name like concat('%', #{request.keyword}, '%')
                    or phone like concat('%', #{request.keyword}, '%'))
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
